name: CI

on:
  push:
    branches: [main]
  workflow_dispatch:
  merge_group:
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.repository }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build & test WASM modules
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Nix
        uses: metacraft-labs/nixos-modules/.github/setup-nix@main
        with:
          push-to-cache: false
          cachix-cache: ${{ vars.CACHIX_CACHE }}
          cachix-auth-token: ${{ secrets.CACHIX_AUTH_TOKEN }}
          trusted-public-keys: ${{ vars.TRUSTED_PUBLIC_KEYS }}
          substituters: ${{ vars.SUBSTITUTERS }}

      - name: Test
        run: nix develop -c script/test.sh

      - name: Upload WASM artifacts
        uses: actions/upload-artifact@v4
        with:
          name: wasm-modules
          path: build/*.wasm
